body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: scroll;
}
.delete{
    background-color: red;
}
.posts{
    padding: 30px;
    border: 1px black solid;
    background-color: white;
    color: rgb(34, 4, 61);
    margin-bottom: 2%;;
}
.plusBtn{
    color: white;
    padding: 15px;
    background-color: rgb(17, 92, 17);
    border: none;
    font-size: 30px;
    margin-left: 90%;
}
